{% load static %}
<footer class="pt-5 pb-3 d-flex justify-content-center flex-column align-items-center px-4">
    {% if social %}
    <div class="personal_social" edge>
        {% for x in social %}
        {% if x.img %}
        <a href="{{x.href}}" target="_blank" aria-label="{{x.name}}" data-balloon-pos="up"><img src="{{x.img.url}}" alt="{{x.name}}" ></a>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="copy-right text-white mt-4">
        {{base_info.copyright}}
    </div>
</footer>